body {
  padding: 0px;
  margin: 0px;
}
.parent {
  width: 800px;
  height: 600px;
  border: 5px dotted red;
}
.child {
  width: 700px;
  height: 500px;
  background-image: url("1234.jpg");
  background-repeat: no-repeat;

  margin-top: 50px;
  margin-left: 50px;
}
